# Binaries for programs and tests
*.exe
*.exe?
*.dll
*.so
*.dylib

# Test binary built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (godep-created etc.)
vendor/

# Go workspace file
go.work

# Executables
GoSSR
bin/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
